MONGODB_URI=mongodb://127.0.0.1:27017/streamtip
MONNIFY_API_KEY=
MONNIFY_SECRET_KEY=
MONNIFY_CONTRACT_CODE=
MONNIFY_BASE_URL=https://sandbox.monnify.com
MONNIFY_DISBURSEMENT_SOURCE_ACCOUNT_NUMBER=
GOOGLE_CLIENT_ID=
APPLE_CLIENT_ID=
ADMIN_EMAIL=admin@streamtip.local
ADMIN_PASSWORD=ChangeMeAdmin123!
